.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  gap: 20px;
  min-width: 120px;
  margin: 10px;
}

.button-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-item {
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 10px;
  padding: 10px;
  flex: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-width: 300px;
}

.flex-item h3 {
  text-align: center;
  font-size: 18px;
  margin: 0;
  margin-bottom: 0px;
  color: #495057;
}

.bracket-game {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  background-color: #e9ecef;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-top: 2%;
  
}


.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0px;
}
.player.top{
 border-top-left-radius: 8px;
 border-bottom-left-radius: 8px;
}
.player.bot{
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
 }

.player.win {
  background-color: #28a745;
  color: #fff;
}

.player.los {
  background-color: #dc3545;
  color: #fff;
}

.player.draw {
  background-color: #ffb324;
  color: #fff;
}

.player.non {
  background-color: #8d8d8d;
  color: #fff;
}

.team-info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.team-logo {
  width: 15%;
  height: 15%;
  margin: 2%;
  border-radius: 50%;
}

.team-name {
  font-weight: bold;
  flex-grow: 1;
  text-align: left;
  margin-left: 3%;
  white-space: nowrap;
}

.score {
  font-size: 24px;
  font-weight: bold;
  margin: 2%;
  text-align: center;
}

.button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

.number-input {
  width: 60px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  text-align: center;
  transition: border-color 0.3s ease;
}

.number-input:focus {
  border-color: #80bdff;
  outline: none;
}


@media (max-width: 600px) {
  .flex-container {
      flex-direction: column;
  }

  .flex-item {
      margin-bottom: 20px;
  }

  .team-info {
      flex-direction: column;
      text-align: center;
  }

  .team-logo {
      margin-right: 0;
      margin-bottom: 5px;
  }

  .team-name {
      text-align: center;
  }
}
